.containerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.25rem;
    margin: 0.5rem;
}

.containerColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0.25rem;
    margin: 0.5rem;
}

.btnSimple {
    border: 0;
    border-radius: 0.25rem;
    background: lightgrey;
    color: black;
    font-size: 150%;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
}

.btnSimple:hover {
    background: grey;
}

.btnSelected {
    border: 0;
    border-radius: 0.25rem;
    background:darkgrey;
    color: white;
    font-size: 150%;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
}