.graphContainer {
    margin: 2rem;
    padding: 0;
    border: 0.1rem;
    width: 100%;
    height: auto;
}

.graphImage {
    width: 100%;
    height: auto;
    background-size: contain;
}